@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

p {
  font-size: 1.6rem;
}

h1 {
  font-size: 4.8rem;
}

a {
  text-decoration: none;
  color: #fff;
}

.bold {
  font-weight: 700;
}

.app {
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  position: relative;
  background: #2e2e2e73;
  color: #fff;
}
.app::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(./assets/sunset.jpg) no-repeat center center/cover;
}

.app .search {
  text-align: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.app .search input {
  padding: 0.7rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
}
.app .search input::placeholder {
  color: #acacac;
}

.app .temp-units {
  background: rgba(255, 255, 255, 0.2);
  margin: auto;
  width: 320px;
  height: 40px;
  padding: 3px;
  border: 1px solid #fff;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.app .temp-units h4 {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.app .temp-units .selected {
  background: rgba(255, 255, 255, 0.4);
  color: #000;
  border-radius: 6px;
}

.container {
  max-width: 700px;
  height: 84%;
  margin: 0 auto;
  padding: 0 1rem;
  padding-top: 3rem;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.container .top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .icon img {
  height: 55px;
  filter: invert();
}

.container .top .right .description {
  transform: rotate(270deg);
}

.view-more {
  background: rgba(32, 32, 32, 0.604);
  width: fit-content;
  padding: 6px 10px;
  border: 1px solid #fff;
  border-radius: 10px;
  font-weight: 600;
  opacity: 0.3;
  cursor: not-allowed;
}

.container .bottom {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  padding: 10px 1rem;
  margin: 3rem auto;
  border-radius: 12px;
}

.container .bottom p {
  font-size: 1rem;
}

.container .bottom img {
  height: 35px;
  filter: invert();
}
.container .bottom .line {
  transform: rotate(90deg);
  height: 3px;
}
